---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>
  You can find here my publications on video games, narratives, complexity, and related fields.
</p>

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

{% assign sorted_publications = site.publications | sort: "date" | reverse %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for group in site.publication_category %}
    {% assign group_key = group[0] %}
    {% assign group_data = group[1] %}
    {% assign title_shown = false %}

    {% for post in sorted_publications %}
      {% unless group_data.includes contains post.category %}
        {% continue %}
      {% endunless %}

      {% unless title_shown %}
        <h2>{{ group_data.title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in sorted_publications %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}